// https://v4-alpha.getbootstrap.com/utilities/borders/


.border-color-table-color {
  border-color: $table-border-color;
}
.border-color-transparent {
  border-color: transparent;
}
.border-color-white {
  border-color: $white;
}

.border-color-black {
  border-color: $black;
}
.border-color-gray-dark {
  border-color: $gray-dark;
}
.border-color-gray {
  border-color: $gray;
}
.border-color-gray-light {
  border-color: $gray-light;
}
.border-color-gray-lighter {
  border-color: $gray-lighter;
}
.border-color-gray-lightest {
  border-color: $gray-lightest;
}

.border-px-4 {
  border-width: 4px;
}
.border-px-3 {
  border-width: 3px;
}
.border-px-2 {
  border-width: 2px;
}
.border-px-1 {
  border-width: 1px;
}
.border-px-0 {
  border-width: 0px !important;
}

.border-a {
  border-style: solid;
}
.border-t {
  border-top-style: solid;
}
.border-b {
  border-bottom-style: solid;
}
.border-l {
  border-left-style: solid;
}
.border-r {
  border-right-style: solid;
}
.border-x {
  border-left-style: solid;
  border-right-style: solid;
}
.border-y {
  border-top-style: solid;
  border-bottom-style: solid;
}