

.iconset {
    display: inline-block;
    // width: 32px;
    // height: 32px;
    // svg {
    //     width: 32px;
    //     height: 32px;
    // }

    &.black {
        svg {
            fill: $black;
        }
    }

    &.stroke-white {
        svg {
            path {
                stroke: $white !important;
            }
        }
    }
     &.fill-white {
        svg {
            fill: $white;
        }
    }
    &.white {
        svg {
            fill: $white;
            path {
                stroke: $white !important;
            }
        }
    }


    &.primary {
        svg {
            fill: $brand-primary;
        }
    }
    &.success {
        svg {
            fill: $brand-success;
        }
    }
    &.info {
        svg {
            fill: $brand-info;
        }
    }
    &.warning {
        svg {
            fill: $brand-warning;
        }
    }
    &.danger {
        svg {
            fill: $brand-danger;
        }
    }


}
