

.iconset {
    // width: 32px;
    // height: 32px;
    // svg {
    //     width: 32px;
    //     height: 32px;
    // }

    &.black {
        svg {
            fill: $black;
        }
    }
    &.white {
        svg {
            fill: $white;
        }
    }

    &.primary {
        svg {
            fill: $brand-primary;
        }
    }
    &.success {
        svg {
            fill: $brand-success;
        }
    }
    &.info {
        svg {
            fill: $brand-info;
        }
    }
    &.warning {
        svg {
            fill: $brand-warning;
        }
    }
    &.danger {
        svg {
            fill: $brand-danger;
        }
    }


}
