.no-select {
  @include vp-user-select(none);
}

.border {
  &.table-color {
    border-color: $table-border-color;
  }
  &.transparent {
    border-color: $table-border-color;
  }

  &.px-4 {
    border-width: 4px;
  }
  &.px-3 {
    border-width: 3px;
  }
  &.px-2 {
    border-width: 2px;
  }
  &.px-1 {
    border-width: 1px;
  }
  &.px-0, &.no {
    border-width: 0px;
  }

  &.a {
    border-style: solid;
  }
  &.t {
    border-top-style: solid;
  }
  &.b {
    border-bottom-style: solid;
  }
  &.l {
    border-left-style: solid;
  }
  &.r {
    border-right-style: solid;
  }
  &.x {
    border-left-style: solid;
    border-right-style: solid;
  }
  &.y {
    border-top-style: solid;
    border-bottom-style: solid;
  }
}