// colors
$white:#fff;
$black: rgb(33, 43, 53);
$gray-dark: #212b35;
$gray: #637381;
$gray-light: #dfe4e8;
$gray-lighter: #ebeef0;
$gray-lightest: #f4f6f8;
$teal: #47c1bf;
$purple: #5c6ac4;
$red: #e83c19;
$blue: #007ace; // link color


$brand-primary: $purple;

$body-bg: $gray-lighter;

// cards
$card-cap-bg: $white;

// nav tabs
$nav-tabs-active-link-hover-border-color: $brand-primary;
$nav-tabs-link-hover-border-color: $gray-light;
$nav-tabs-border-width: 3px;
$nav-tabs-active-link-hover-bg: $white;

// inputs
$input-border-focus: $brand-primary;

// breadcrumbs
$breadcrumb-divider-color: $black;
$breadcrumb-active-color: $black;